body {
  font-family: "Gilory", serif !important;
  font-weight: 400 !important;
  background-color: #F5F5F6 !important;
  color: var(--black) !important;
}

@import "bootstrap/scss/bootstrap.scss";
@import '_font.scss';
@import '_navbar.scss';
@import '_helper.scss';
@import '_footer.scss';
@import './home/home.scss';
@import './about/about.scss';
@import './faq/faq.scss';
@import './contact/contact.scss';