.charge {
    margin-top: 1rem;

    @media (min-width:1024px) {
        margin-top: 2rem;
    }

    &-heading {
        font-size: 32px;

        @media (min-width:768px) {
            font-size: 40px;
        }

        @media (min-width:1024px) {
            font-size: 48px;
        }
    }

    &-content {
        &-img {
            img {
                max-width: 630px;
            }

            &-circle {
                top: 5rem;
                right: -5rem;

                &-num {
                    top: 2.5rem;
                    left: 3.2rem;
                    font-size: 4rem;
                }
            }
        }

        &-info {
            max-width: 18rem;

            @media (min-width:1024px) {
                margin-left: 5rem;
            }

            &-text {
                font-size: 16px;
            }

            &-sub-text {
                font-size: 24px;

                @media (min-width:768px) {
                    font-size: 32px;
                    line-height: 40px;
                }

                @media (min-width:1024px) {
                    font-size: 40px;
                    line-height: 50px;
                }

                span {
                    color: var(--deep-green);
                }
            }

            &-data {
                &-link {
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

    &-data {
        &-step {
            bottom: 0;
            right: 0;

            &-text {
                color: dimgray;
            }

            img {
                @media (min-width:1440px) {
                    height: 256px;
                    width: 251px;
                }
            }
        }
    }
}