.charge {
    margin-top: 1rem;
    padding: 0.8rem;

    @media (min-width: 768px) {
        padding: 1rem;
    }

    @media (min-width: 1024px) {
        margin-top: 2rem;
        padding: 1.5rem;
    }

    @media (min-width: 1440px) {
        margin-top: 0;
        padding: 3rem;
    }

    @media (min-width: 1600px) {
        padding: 4rem;
    }

    @media (min-width: 1900px) {
        margin-top: 9.5rem;
        padding: 0;
    }

    &-heading {
        font-size: 32px;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
            font-size: 40px;
            margin-bottom: 2rem;
        }

        @media (min-width: 1024px) {
            font-size: 48px;
            margin-bottom: 3rem;
        }

        @media (min-width: 1440px) {
            font-size: 56px;
            margin-bottom: 4rem;
        }

        @media (min-width: 1600px) {
            font-size: 80px;
            margin-bottom: 5rem;
        }

        @media (min-width: 1900px) {
            font-size: 100px;
            line-height: 114px;
        }
    }

    &-content {
        &-img {
            &-girl {
                @media (min-width: 1600px) {
                    height: 1036px;
                    width: 840px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &-circle {
                top: 5rem;
                right: -5rem;
                width: 180px;

                @media (min-width: 1600px) {
                    width: 200px;
                    right: -13rem;
                }

                @media (min-width: 1900px) {
                    width: 275px;
                    right: -9rem;
                }

                &-num {
                    top: 2.5rem;
                    left: 3.2rem;
                    font-size: 4rem;

                    @media (min-width: 1900px) {
                        font-size: 6rem;
                    }
                }
            }
        }

        &-info {
            max-width: 18rem;

            @media (min-width: 1024px) {
                margin-left: 5rem;
            }

            @media (min-width: 1440px) {
                max-width: 20rem;
            }

            @media (min-width: 1600px) {
                margin-top: 2rem;
                max-width: 28rem;
                margin-left: 10rem;
            }

            &-text {
                color: dimgray;
                font-size: 16px;
                padding: 0;
                margin: 0;

                @media (min-width: 768px) {
                    margin-bottom: 0.5rem;
                }

                @media (min-width: 1440px) {
                    font-size: 20px;
                }
            }

            &-sub-text {
                font-size: 24px;

                @media (min-width: 768px) {
                    font-size: 32px;
                    line-height: 40px;
                }

                @media (min-width: 1024px) {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 2rem;
                }

                @media (min-width: 1440px) {
                    font-size: 50px;
                    line-height: 56px;
                    margin-bottom: 4rem;
                }

                @media (min-width: 1600px) {
                    font-size: 70px;
                    line-height: 78px;
                    margin-top: 3rem;
                    margin-bottom: 5rem;
                }

                @media (min-width: 1600px) {
                    font-size: 80px;
                    line-height: 80px;
                }

                span {
                    color: var(--deep-green);
                }
            }

            &-data {
                &-link {
                    font-size: 18px;

                    @media (min-width: 1440px) {
                        font-size: 24px;
                    }

                    @media (min-width: 1600px) {
                        margin-top: 1rem;
                    }

                    @media (min-width: 1900px) {
                        font-size: 28px;
                        line-height: 41px;
                    }

                    a {
                        text-decoration: none;
                        color: var(--black);
                    }
                }
            }
        }
    }

    &-data {
        &-step {
            bottom: 0;
            right: 1rem;

            &-text {
                color: dimgray;
                font-size: 16px;

                @media (min-width: 1440px) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }

            img {
                @media (min-width: 1440px) {
                    height: 256px;
                    width: 251px;
                }
            }
        }
    }
}