.drive {
    margin-top: 1rem;
    padding: 1.2rem;

    @media (min-width: 768px) {
        margin-top: 0;
        padding: 2rem;
    }

    @media (min-width: 1024px) {
        margin-top: 2rem;
        padding: 2rem 2.5rem;
    }

    @media (min-width: 1440px) {
        padding: 4rem;
    }

    @media (min-width: 1600px) {
        padding: 5rem;
    }

    @media (min-width: 1900px) {
        margin-top: 8rem;
        padding: 0;
    }

    &-heading {
        font-size: 32px;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
            font-size: 40px;
            margin-bottom: 2rem;
        }

        @media (min-width: 1024px) {
            font-size: 48px;
        }

        @media (min-width: 1440px) {
            font-size: 56px;
            margin-bottom: 2.5rem;
        }

        @media (min-width: 1600px) {
            font-size: 80px;
        }

        @media (min-width: 1900px) {
            font-size: 100px;
            line-height: 114px;
            margin-bottom: 3rem;
        }
    }
}

.play {
    @media (min-width: 1024px) {
        height: 180px;
        width: 180px;
    }
}

.playModal {
    width: 18rem;

    @media (min-width: 576px) {
        width: 30rem;
    }

    @media (min-width: 768px) {
        width: 43rem;
    }
}