.people {
    margin-top: 1rem;

    @media (min-width: 768px) {
        margin-top: 2rem;
        // padding: 2rem;

    }

    @media (min-width: 1024px) {
        margin-top: 3rem;
    }
    @media (min-width:1440px) {
        margin-top: 4rem;
    }

    @media (min-width:1600px) {
        margin-top: 6rem;
    }

    @media (min-width:1900px) {
        margin-top: 12rem;
    }

    &-content {
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            margin-bottom: 5rem;
        }

        &-heading {
            font-size: 32px;
            width: 100%;

            @media (min-width: 768px) {
                font-size: 46px;
                line-height: 46px;
                width: 17rem;
            }

            @media (min-width: 1024px) {
                font-size: 60px;
                line-height: 66px;
                width: 22.5rem;
            }

            @media (min-width: 1440px) {
                font-size: 90px;
                line-height: 95px;
                width: 33rem;
            }

            @media (min-width: 1600px) {
                font-size: 120px;
                line-height: 126px;
                width: 44rem;
            }

            @media (min-width: 1900px) {
                font-size: 150px;
                line-height: 146px;
                width: 53rem;
            }
        }

        &-para {
            padding: 0;
            font-size: 22px;
            line-height: 28px;
            width: 100%;

            @media (min-width: 768px) {
                font-size: 27px;
                line-height: 30px;
                width: 23rem;
                padding-left: 1rem;
            }

            @media (min-width: 1024px) {
                font-size: 32px;
                line-height: 32px;
            }

            @media (min-width: 1600px) {
                font-size: 40px;
                line-height: 40px;
                width: 28rem;
            }

            @media (min-width: 1900px) {
                font-size: 46px;
                line-height: 45px;
                width: 34rem;
            }

            span {
                color: var(--green);
            }
        }
    }

    &-img {
        &-data {
            &:hover {
                cursor: pointer;
                transition: 0.2s ease-in-out;
                color: #199753;
                cursor: pointer;

                img {
                    filter: invert(59%) sepia(40%) saturate(4810%) hue-rotate(131deg) brightness(93%) contrast(80%);
                }
            }
        }
        img {
            @media (min-width: 1400px) {
                height: 70px;
                width: 70px;
            }

            @media (min-width: 1900px) {
                height: 80px;
                width: 80px;
            }
        }

        &-text {
            font-size: 16px;

            @media (min-width: 1024px) {
                font-size: 20px;
            }

            @media (min-width: 1900px) {
                font-size: 24px;
            }
        }
    }
}