.team {
    width: 95%;
    margin-top: 1rem;

    @media (min-width: 768px) {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    @media (min-width: 1024px) {
        margin-top: 3rem;
    }

    @media (min-width: 1440px) {
        margin-top: 5rem;
    }

    @media (min-width: 1600px) {
        margin-top: 7rem;
    }

    @media (min-width: 1900px) {
        margin-top: 10rem;
    }

    &-content {
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            margin-bottom: 4rem;
        }

        @media (min-width: 1440px) {
            margin-bottom: 7rem;
        }

        @media (min-width: 1600px) {
            margin-bottom: 9rem;
        }

        @media (min-width: 1900px) {
            margin-bottom: 11.2rem;
        }

        &-heading {
            font-size: 32px;

            @media (min-width: 768px) {
                font-size: 40px;
                width: 21rem;
            }

            @media (min-width: 1024px) {
                font-size: 48px;
                width: 28rem;
            }

            @media (min-width: 1440px) {
                font-size: 56px;
                width: 35rem;
            }

            @media (min-width: 1600px) {
                font-size: 80px;
                width: 43rem;
            }

            @media (min-width: 1900px) {
                font-size: 100px;
                line-height: 114px;
                width: 53rem;
            }
        }

        &-para {
            padding: 0;
            font-size: 22px;
            line-height: 28px;
            width: 100%;

            @media (min-width: 768px) {
                font-size: 27px;
                line-height: 30px;
                width: 12rem;
            }

            @media (min-width: 1024px) {
                font-size: 32px;
                line-height: 32px;
            }

            @media (min-width: 1600px) {
                font-size: 40px;
                line-height: 40px;
                width: 16rem;
            }

            @media (min-width: 1900px) {
                font-size: 46px;
                line-height: 45px;
                width: 18rem;
            }

            span {
                color: var(--green);
            }
        }
    }

    &-info {
        gap: 1.5rem;

        @media (min-width: 768px) {
            gap: 2rem;
        }

        @media (min-width: 1900px) {
            gap: 3.1rem;
        }

        &-items {
            flex-shrink: 0;
            z-index: 0;

            &-img {
                height: 380px;
                width: 290px;

                @media (min-width: 768px) {
                    height: 500px;
                    width: 350px;
                }

                @media (min-width: 1440px) {
                    height: 630px;
                    width: 430px;
                }

                @media (min-width: 1900px) {
                    height: 792px;
                    width: 511px;
                }
            }

            &-title {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                font-size: 20px;

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 1440px) {
                    font-size: 28px;
                    margin-top: 1.6rem;
                    margin-bottom: 1rem;
                }

                @media (min-width: 1900px) {
                    font-size: 32px;
                }
            }

            &-text {
                font-size: 15px;
                color: dimgray;
                width: 100%;

                @media (min-width: 768px) {
                    font-size: 16px;
                    width: 7rem;
                }

                @media (min-width: 1440px) {
                    font-size: 17px;
                }

                @media (min-width: 1900px) {
                    font-size: 18px;
                }
            }

            &-para {
                font-size: 15px;
                width: 16rem;

                @media (min-width: 768px) {
                    font-size: 16px;
                    width: 18rem;
                }

                @media (min-width: 1440px) {
                    font-size: 17px;
                    width: 22rem;
                }

                @media (min-width: 1900px) {
                    font-size: 18px;
                    width: 27rem;
                }
            }

            &-details {
                background-color: var(--black);
                color: white;
                width: 290px;

                @media (min-width: 768px) {
                    position: relative;
                    width: 350px;
                    margin-top: -14rem;
                    z-index:5;
                }

                @media (min-width: 1440px) {
                    width: 430px;
                    margin-top: -22rem;
                }

                @media (min-width: 1900px) {
                    width: 511px;
                }
            }
        }
    }

    &-wrapper {
        overflow: hidden;
        z-index: 2;
        position: relative;
    }

    &-carousel {
        display: flex;
        transition: 0.5s ease;

        &>div {
            flex-shrink: 0;
        }
    }

    &-button {
        background-color: var(--blue);
        color: white;
        bottom: 5.4rem;
        left: 50%;
        translate: -50%;
        text-wrap: nowrap;
        padding: 0 0.5rem;
        font-size: 18px;
        line-height: 30px;

        img {
            @media (min-width: 1900px) {
                height: 56px;
                width: 64px;
            }
        }

        &:hover {
            background-color: var(--deep-blue);
            transition: 0.2s ease-in-out;
        }

        @media (min-width: 768px) {
            left: unset;
            right: 0;
            bottom:1rem;
            translate: 50%;
            padding: 0.1rem 2rem;
            font-size: 20px;
            line-height: 30px;
        }

        @media (min-width: 1440px) {
            padding: 0.5rem 3rem;
            font-size: 22px;
            line-height: 36px;
        }

        @media (min-width: 1600px) {
            translate: 74%;
            padding: 0.7rem 3.5rem;
        }

        @media (min-width: 1800px) {
            translate: 80%;
        }

        @media (min-width: 1900px) {
            translate: 50%;
            padding: 1rem 4rem;
            font-size: 26px;
            line-height: 36px;
        }
    }
}